<a href="https://colab.research.google.com/github/Rajeshwari05-V/titanic-survival-predictor/blob/main/03_pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Day 2: Pandas Basics Practice (M3)
# Rajeshwari's 90-Day AI/ML Journey ðŸš€
import pandas as pd
# --- Step 1: Create a Series ---
numbers=pd.Series([10,20,30,40,50])
print("Series:")
print(numbers)
print("/nAcessing Elements:")
print("First element:",numbers[0])
print("Last element:",numbers.iloc[-1])
# --- Step 2: Create a DataFrame ---
data={
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["Bangalore", "Mumbai", "Delhi"]
}
df=pd.DataFrame(data)
print("\nDataFrame:")
print(df)
# --- Step 3: Explore the DataFrame ---
print("\nHead:")
print(df.head())

print("\nInfo:")
print(df.info())

print("\nDescribe:")
print(df.describe())
# --- Step 4: Indexing & Selection ---
print("\nSelect single column:")
print(df["Name"])

print("\nSelect multiple columns:")
print(df[["Name", "City"]])

print("\nSelect row using loc (label):")
print(df.loc[0])

print("\nSelect row using iloc (index):")
print(df.iloc[1])
# --- Step 5: Filtering ---
print("\nFilter Age > 28:")
print(df[df["Age"]>28])
# --- Step 6: Save to CSV ---
df.to_csv("sample_people.csv", index=False)
print("\nData saved to sample_people.csv âœ…")

Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64
/nAcessing Elements:
First element: 10
Last element: 50

DataFrame:
      Name  Age       City
0    Alice   25  Bangalore
1      Bob   30     Mumbai
2  Charlie   35      Delhi

Head:
      Name  Age       City
0    Alice   25  Bangalore
1      Bob   30     Mumbai
2  Charlie   35      Delhi

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None

Describe:
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

Select single column:
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

Select multiple columns:
      Name       City
0    Alice  Bangalore
1      Bob     Mumbai
2  Charlie      Delhi

Select row using loc (label):
Name        Alice
Age            25
City    Bangalore
Name: 0, dtype: object

Select row using iloc (index):
Name       Bob
Age         30
City    Mumbai
Name: 1, dtype: object

Filter Age > 28:
      Name  Age    City
1      Bob   30  Mumbai
2  Charlie   35   Delhi

Data saved to sample_people.csv âœ…